* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 2.5rem 0rem;
  font-size: 16px;
  background-color: #E0E0E0;
}

.siteWrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

ul li {
  list-style-type: none;
}

.blueButton {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  padding: 0.8rem 1rem;
  background: #1d8cff;
  color: white;
  font-family: "Arial";
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.blueButton:hover {
  -webkit-box-shadow: 3px 3px 0px black;
          box-shadow: 3px 3px 0px black;
}

button {
  cursor: pointer;
}

.controls button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

header nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7%;
  padding-top: 1rem;
}

header nav .desktopNav {
  display: none;
  padding-top: 2rem;
}

header nav .desktopNav > li {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .desktopNav > li:nth-child(4) {
  padding: 1rem 1.3rem;
  color: white;
  background-color: #1d8cff;
}

header nav .desktopNav > li:nth-child(1) {
  font-weight: bold;
  margin-left: 0rem;
}

header .titleBlock {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d8cff;
  padding-left: 7%;
  padding-top: 1rem;
}

header .titleBlock > h2 {
  font-family: "Arial";
}

header .titleBlock > h2 span {
  display: inline-block;
  font-size: 25px;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-animation: spinR 1.5s linear;
          animation: spinR 1.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.burgerIcon {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2em;
}

.burgerIcon > div:nth-child(1) {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: black;
  top: 0.5rem;
}

.burgerIcon > div:nth-child(2) {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: black;
}

.burgerIcon > div:nth-child(3) {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: black;
}

@-webkit-keyframes spinR {
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes spinR {
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

aside {
  width: 100%;
  height: 7rem;
  background: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

aside ul li {
  font-family: 'Verdana';
  font-size: 1.5rem;
  color: gray;
}

aside ul li:nth-child(4) {
  display: none;
}

footer {
  height: 31rem;
  background-color: salmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul > li {
  cursor: pointer;
}

footer ul > li:not(:nth-child(1)):hover {
  font-style: italic;
  color: #1d8cff;
}

footer .topFooter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85%;
          flex: 0 0 85%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .topFooter .companySide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  width: 100%;
  padding: 0rem 10vw;
  background-color: white;
  font-family: "Arial";
}

footer .topFooter .companySide div {
  text-align: center;
  margin-top: 2rem;
}

footer .topFooter .companySide div h2 {
  margin-bottom: 0.75rem;
  color: #1d8cff;
}

footer .topFooter .companySide div h2 > span {
  display: inline-block;
  font-size: 25px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

footer .topFooter .companySide div > p {
  font-size: calc(1rem + 1.4vw);
}

footer .topFooter .contactSide {
  -webkit-box-flex: 1.15;
      -ms-flex: 1.15 0 0px;
          flex: 1.15 0 0;
  width: 100%;
  text-align: center;
  font-family: "Arial";
  background-color: white;
  font-size: calc(1rem + 1.7vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer .topFooter .contactSide ul li {
  margin-bottom: 0.7rem;
}

footer .topFooter .contactSide ul li:nth-child(1) {
  font-weight: 700;
}

footer .topFooter .contactSide div > p {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

footer .topFooter .contactSide div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

footer .topFooter .contactSide div ul > li {
  width: 2.7rem;
  height: 2.7rem;
}

footer .topFooter .contactSide div ul li:nth-child(1) {
  background-image: url("../images/facebook.png");
  background-position: center;
  background-size: cover;
}

footer .topFooter .contactSide div ul li:nth-child(2) {
  background-image: url("../images/insta.png");
  background-position: center;
  background-size: cover;
}

footer .topFooter .contactSide div ul li:nth-child(3) {
  background-image: url("../images/linkedIn.png");
  background-position: center;
  background-size: cover;
}

footer .bottomFooter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  background-color: white;
  font-family: "Arial";
}

main {
  width: 100%;
  height: 54rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: white;
  width: 100%;
  height: 50%;
  padding: 7% 9%;
  font-family: "Arial";
}

main .sectionOne > h2 {
  font-size: calc(1.6rem + 1.5vw);
}

main .sectionOne > p {
  font-size: calc(0.75rem + 1.6vw);
  margin-bottom: 0.5rem;
}

main .sectionOne > * {
  text-align: center;
}

main .sectionTwo {
  background: url("../images/mainBig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50%;
}

aside ul {
  font-family: "Arial";
}

section {
  height: 55rem;
  background-color: white;
}

section .subSectionOne {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: anywhere;
  padding: 8.5% 7% 7% 7%;
  gap: 1rem;
  background: white;
  width: 100%;
  height: 50%;
  font-family: "Arial";
}

section .subSectionOne ul {
  line-height: 1.5;
}

section .subSectionOne ul > .desc {
  display: none;
}

section .subSectionOne ul li span {
  font-weight: 700;
}

section .subSectionOne > h3 span {
  color: #1d8cff;
}

section .subSectionOne > h3 {
  line-height: 1;
  margin-bottom: 0.5em;
  padding: 0rem 0.25rem;
  font-size: 2.1rem;
}

section .subSectionOne > p {
  font-size: calc(0.75rem + 1.6vw);
  margin-bottom: 1.4rem;
  line-height: 1.2;
}

section .subSectionOne > * {
  text-align: center;
}

section .subSectionTwo {
  background: url("../images/secondSection.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 50%;
}

.drop {
  display: none;
}

article {
  height: 7rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .h3Side {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Arial";
  font-size: calc(1.1rem + 1vw);
  font-weight: 500;
}

article .h3Side > h3 {
  font-weight: normal;
}

article .h3Side h3 span {
  margin-left: 0.25em;
  color: #1d8cff;
  font-weight: 700;
}

article .pSide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  display: none;
}

.project {
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .photoSide {
  background-color: blue;
  -webkit-box-flex: 1.75;
      -ms-flex: 1.75 0 auto;
          flex: 1.75 0 auto;
}

.project .textSide {
  background-color: white;
  padding: 8%;
  text-align: center;
  font-family: "Arial";
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25 0 auto;
          flex: 0.25 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .textSide > p {
  margin-bottom: 2rem;
}

.three .textSide p {
  font-size: 1.5rem;
}

.one .photoSide {
  background: url("../images/firstProject.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.two .photoSide {
  background: url("../images/secondProject.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.three .photoSide {
  background: url("../images/thirdProject.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonials {
  background-color: lightgray;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials .buttonSide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Arial";
  text-align: center;
  padding: 10% 7% 3.5% 7%;
}

.testimonials .buttonSide h2 {
  font-size: calc(1.5rem + 2vw);
}

.testimonials .buttonSide h2 > span {
  color: #1d8cff;
}

.testimonials .buttonSide .controls > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 4rem;
}

.testimonials .buttonSide .controls > button:nth-child(2) {
  margin-left: 1rem;
}

.testimonials .textSide {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 0 0px;
          flex: 1.5 0 0;
  font-family: "Arial";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 0% 7% 7% 7%;
}

.testimonials .textSide blockquote {
  font-size: 1.8rem;
  text-align: center;
  background-color: #f6f6f6;
  padding: 4%;
  max-width: 306px;
}

.testimonials .textSide .userProfile {
  width: 13rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .textSide .userProfile div:nth-child(1) {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5 0 0px;
          flex: 1.5 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .textSide .userProfile div:nth-child(1) > .profileBall {
  height: 3rem;
  background-color: black;
  width: 3.25rem;
  border-radius: 50%;
}

.testimonials .textSide .userProfile div:nth-child(2) {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 0px;
          flex: 3 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.175rem;
}

.testimonials .textSide .userProfile div:nth-child(2) > h4 {
  font-size: 1.1rem;
}

.testimonials .textSide .userProfile div:nth-child(2) > p {
  font-size: 1rem;
}

.discuss {
  height: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 7vw;
  background-color: #1d8cff;
}

.discuss > h2 {
  color: white;
  font-family: "Arial";
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.discuss div {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.discuss div > button {
  font-family: "Arial";
  font-weight: 700;
  background-color: white;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: #1d8cff;
  padding: 1.1rem;
}

.dropDesktop,
.desktopBR {
  display: none;
}

@media only screen and (min-width: 28.125em) {
  main {
    height: 63rem;
  }
  header .titleBlock {
    padding-top: 2rem;
  }
  header nav {
    padding-top: 2rem;
  }
  header .titleBlock > h2 {
    font-size: calc(2rem + 0.75vw);
  }
  .sectionOne {
    padding: 7% 12%;
  }
  .sectionTwo {
    -webkit-filter: hue-rotate(179deg);
            filter: hue-rotate(179deg);
    background-position: top;
  }
  aside ul li:nth-child(4) {
    display: initial;
  }
  section .subSectionOne {
    padding: 6% 11% 7% 11%;
  }
  section .subSectionOne > h3 {
    font-size: 2.4rem;
  }
  section .subSectionOne > p {
    font-size: calc(0.85rem + 1.4vw);
  }
  section .subSectionOne > ul {
    font-size: 1.75rem;
  }
  section {
    height: 59rem;
  }
  main .sectionOne {
    padding: 7% 11%;
  }
  main .sectionOne > h2 {
    font-size: calc(1.65rem + 1.5vw);
  }
  .discuss {
    padding: 0rem 10.5vw;
  }
  .project {
    height: 57rem;
  }
  .project .textSide {
    -webkit-box-flex: 0.35;
        -ms-flex: 0.35 0 auto;
            flex: 0.35 0 auto;
  }
  .testimonials .textSide blockquote {
    max-width: 350px;
    padding: 5% 4%;
  }
  footer .topFooter .contactSide {
    font-size: calc(1rem + 1.4vw);
  }
  footer .topFooter .companySide div > p {
    font-size: calc(1rem + 1.2vw);
  }
}

@media only screen and (min-width: 37.5em) {
  header {
    height: 5rem;
  }
  header nav {
    padding-top: 0;
    padding-right: 7.5%;
  }
  header nav > .burgerIcon {
    padding-top: 0.75rem;
  }
  header .titleBlock {
    padding-top: 0;
    padding-left: 7.5%;
  }
  header .titleBlock > h2 {
    padding-top: 0.75rem;
  }
  .burgerIcon {
    z-index: 5;
  }
  p {
    font-size: calc(0.8rem + 1vw);
  }
  .dropDesktop {
    display: initial;
  }
  main {
    height: 47rem;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .sectionOne {
    width: 51%;
    height: 100%;
    padding: 7% 3% 7% 8%;
  }
  main .sectionOne > button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main .sectionOne > h2 {
    text-align: left;
    font-size: calc(1.65rem + 1.5vw);
    line-height: 1.2;
  }
  main .sectionOne > p {
    line-height: 1.1;
    padding-right: 4.5rem;
    text-align: left;
    font-size: calc(0.8rem + 1vw);
  }
  main .sectionTwo {
    position: absolute;
    top: -50px;
    right: 0;
    width: 50%;
    height: 110.65%;
  }
  aside ul {
    gap: 1.5em;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 57rem;
  }
  section .subSectionOne {
    width: 50%;
    height: 100%;
    padding: 7% 7% 7% 7%;
  }
  section .subSectionOne > p {
    line-height: 1.1;
    font-size: calc(0.8rem + 1vw);
  }
  section .subSectionOne > h3 {
    font-size: 2.4rem;
    line-height: 1.1;
  }
  section .subSectionOne ul {
    text-align: left;
  }
  section .subSectionOne ul .desc {
    display: initial;
    line-height: 1.2;
  }
  section .subSectionOne ul .desc > p {
    margin-bottom: 1.5rem;
  }
  section .subSectionOne ul > li:not(.desc) {
    font-weight: bold;
    font-size: calc(0.799rem + 1.1vw);
  }
  section .subSectionTwo {
    width: 50%;
    height: 100%;
  }
  article {
    height: 17rem;
  }
  article .pSide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Arial';
    padding: 0rem 7%;
  }
  article .h3Side {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    padding-left: 7%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  article .h3Side > h3 {
    font-weight: bold;
    font-size: 2.4rem;
  }
  .project {
    height: 31rem;
    margin-bottom: 3rem;
  }
  .project.one > .photoSide {
    background-position: right;
  }
  .project.two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-right: 5%;
  }
  .project.two .textSide {
    padding: 0% 5%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .project:not(.two) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 5%;
  }
  .project:not(.two) .textSide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0% 6% 0% 4%;
  }
  .project:not(.two) .textSide > p {
    text-align: left;
  }
  .project.three {
    margin-bottom: 3rem;
  }
  .project .photoSide {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
  }
  .project .textSide {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
  .project .textSide > p {
    margin-top: 0.3rem;
    text-align: right;
  }
  .testimonials {
    height: 26rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonials .buttonSide {
    padding: 7%;
  }
  .testimonials .buttonSide > h2 {
    font-size: 2.4rem;
  }
  .testimonials .textSide {
    padding: 0% 7% 0% 0%;
  }
  .discuss {
    padding: 0% 7%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .discuss > div {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer {
    height: 28rem;
  }
  footer .topFooter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 7%;
    background: white;
  }
  footer .topFooter .contactSide {
    font-size: 1.5rem;
    gap: 1.4rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  footer .topFooter .companySide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  footer .topFooter .companySide div {
    text-align: left;
  }
  footer .topFooter .companySide div > p {
    padding-right: 20%;
    font-size: 1.5rem;
  }
  footer .bottomFooter > p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 56.25em) {
  main {
    height: 63rem;
  }
  main .sectionOne {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .sectionOne > h2 {
    font-size: 3.75rem;
  }
  main .sectionOne > p {
    max-width: 18.75em;
    font-size: 1.8rem;
  }
  main .sectionTwo {
    height: 108%;
  }
  aside {
    height: 8rem;
  }
  aside ul {
    gap: 4rem;
  }
  aside ul > li {
    font-size: 1.75rem;
  }
  .drop,
  .desktopBR {
    display: initial;
  }
  section {
    height: 67rem;
  }
  section .subSectionOne {
    padding: 6rem 8% 7% 8%;
  }
  section .subSectionOne ul {
    text-align: center;
  }
  section .subSectionOne ul .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section .subSectionOne ul .desc > p {
    margin-bottom: 1.5rem;
    max-width: 30rem;
    font-size: 1.7rem;
  }
  section .subSectionOne ul > li:not(.desc) {
    font-size: 2rem;
  }
  section .subSectionOne > h3 {
    font-size: 3.2rem;
  }
  section .subSectionOne > p {
    font-size: 1.7rem;
    max-width: 34rem;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto 1.85rem;
  }
  p {
    font-size: 1.7rem;
  }
  article {
    height: 20rem;
  }
  article .pSide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article .pSide > p {
    max-width: 32rem;
    text-align: center;
  }
  article .h3Side > h3 {
    font-size: 3rem;
  }
  .project {
    height: 33rem;
  }
  .testimonials {
    height: 30rem;
  }
  .testimonials .textSide {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .testimonials .textSide > .userProfile {
    margin-right: 10rem;
  }
  .testimonials .buttonSide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonials .buttonSide .controls {
    padding-left: 6rem;
  }
  .testimonials .buttonSide > h2 {
    font-size: 3rem;
  }
  .discuss {
    padding: 0% 8%;
  }
  .discuss div > button {
    padding: 1.1rem 1.5rem;
  }
  .discuss > h2 {
    max-width: 175px;
    font-size: 3rem;
  }
  footer .topFooter {
    padding: 0% 8%;
  }
  footer .topFooter .companySide div h2 {
    font-size: 2.6rem;
  }
  footer .topFooter .companySide div > p {
    line-height: 1.3;
    max-width: 35rem;
  }
  footer .topFooter .contactSide {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 1.4rem;
    font-size: 1.5rem;
  }
  footer .topFooter .contactSide div > p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 62.5em) {
  header .titleBlock h2 {
    padding-top: 2rem;
    font-size: 32px;
  }
  header .titleBlock h2 > span {
    font-size: 29px;
  }
  header nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav > .burgerIcon {
    display: none;
  }
  header nav .desktopNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    font-family: "Arial";
    font-size: 1.5rem;
  }
  header nav .desktopNav > li {
    cursor: pointer;
  }
  header nav .desktopNav > li:not(:nth-child(4)):hover {
    color: #1d8cff;
  }
  main .sectionTwo {
    position: relative;
  }
  main .sectionTwo::before {
    content: '';
    height: 21rem;
    width: 17rem;
    display: block;
    position: absolute;
    bottom: 6rem;
    left: -9rem;
    background-image: url(../images/smallMain.jpg);
    background-size: cover;
    background-position: center;
  }
  main .sectionOne > button {
    padding: 1rem 1.5rem;
  }
  main .sectionOne > h2 {
    font-size: 4rem;
    max-width: 344px;
  }
  .project {
    height: 45rem;
  }
  .project.two {
    padding-right: 7%;
  }
  .project.two .textSide {
    padding: 0% 4% 0% 8%;
  }
  .project:not(.two) .textSide {
    padding: 0% 9% 0% 4%;
  }
  .project > h2 {
    font-size: 2.6rem;
  }
  .project .textSide > p {
    margin-bottom: 3rem;
  }
  .project.three .textSide > p {
    font-size: 1.7rem;
  }
}
/*# sourceMappingURL=main.css.map */