

// -------> Hero Section

main {
    width: 100%;
    height: 54rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    & .sectionOne {
        @include bringCenter();
        flex-direction: column;
        gap: 1rem;
        background: white;
        width: 100%;
        height: 50%;
        padding: 7% 9%;
        font-family: $superSpecialFont;
        & > h2 {
            font-size: calc(1.6rem + 1.5vw);
        }
        & > p {
            font-size: calc(0.75rem + 1.6vw);
            margin-bottom: 0.5rem;
        }
        & > * {
            text-align: center;
        }
    }
    & .sectionTwo {
        background: url('../images/mainBig.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: 100% 100%;
        background-position: center;
        width: 100%;
        height: 50%;
    }
}

// -------> Hero Sub-Section

section {
    height: 55rem;
    background-color: white;
    & .subSectionOne {
        flex-direction: column;
        overflow-wrap: anywhere;
        padding: 8.5% 7% 7% 7%;
        gap: 1rem;
        background: white;
        width: 100%;
        height: 50%;
        font-family: $superSpecialFont;
        & ul {
            line-height: 1.5;
            & > .desc {
                display: none;
            }
            & li span {
                font-weight: 700;
            }
        }
        & > h3 span {
            color: $specialBlue;
        }
        & > h3 {
            line-height: 1;
            margin-bottom: 0.5em;
            padding: 0rem 0.25rem;
            font-size: 2.1rem;
        }
        & > p {
            font-size: calc(0.75rem + 1.6vw);
            margin-bottom: 1.4rem;
            line-height: 1.2;
        }
        & > * {
            text-align: center;
        }
    }
    & .subSectionTwo {
        background: url('../images/secondSection.jpg');
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 50%;
    }
}

// -------> Projects Intro Section

article {
    height: 7rem;
    background-color: white;
    display: flex;
    & .h3Side {
        flex: 1 0 70%;
        @include bringCenter();
        font-family: $superSpecialFont;
        font-size: calc(1.1rem + 1vw);
        font-weight: 500;
        & > h3 {
            font-weight: normal;
        }
        & h3 span {
            margin-left: 0.25em;
            color: $specialBlue;
            font-weight: 700;
        }
    }
    & .pSide {
        flex: 1 0 30%;
        display: none;
    }
}

// -------> Projects Section [DRY]

.project {
    height: 50rem;              // give project class to all 3 projects.
    display: flex;
    flex-direction: column;
    & .photoSide {
        background-color: blue;
        flex: 1.75 0 auto;
    }
    & .textSide {
        background-color: white;
        padding: 8%;
        text-align: center;
        font-family: $superSpecialFont;
        flex: 0.25 0 auto;
        @include bringCenter();
        gap: 0.5rem;
        flex-direction: column;
        & > p {
            margin-bottom: 2rem;
        }
    }
}

.three .textSide p {
    font-size: 1.5rem;
}

.one .photoSide {
    background: url('../images/firstProject.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-position: center;
}

.two .photoSide {
    background: url('../images/secondProject.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-position: center;
}

.three .photoSide {
    background: url('../images/thirdProject.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 100% 100%;
    background-position: center;
}

// -------> Testimonials Section

.testimonials {
    background-color: lightgray;
    height: fit-content;
    flex-direction: column;
    & .buttonSide {
        flex: 1 0 0;
        @include bringCenter();
        flex-direction: column;
        font-family: $superSpecialFont;
        text-align: center;
        padding: 10% 7% 3.5% 7%;
        & h2 {
            font-size: calc(1.5rem + 2vw);
            & > span {
                color: $specialBlue;
            }
        } 
        & .controls {
            & > button {
                appearance: none;
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 4rem;
                &:nth-child(2) {
                    margin-left: 1rem;
                }
            }
        }
    }
    & .textSide {
        flex: 1.5 0 0;
        font-family: $superSpecialFont;
        @include bringCenter();
        flex-direction: column;
        gap: 1rem;
        padding: 0% 7% 7% 7%;
        & blockquote {
            font-size: 1.8rem;
            text-align: center;
            background-color: #f6f6f6;
            padding: 4%;
            max-width: 306px;
        }
        & .userProfile {
            width: 13rem;
            height: 4rem;
            display: flex;
            & div:nth-child(1) {
                flex: 1.5 0 0;
                @include bringCenter();
                & > .profileBall {
                    height: 3rem;
                    background-color: black;
                    width: 3.25rem;
                    border-radius: 50%;
                }
            }
            & div:nth-child(2) {
                flex: 3 0 0;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 0.175rem;
                & > h4 {
                    font-size: 1.1rem;
                }
                & > p {
                    font-size: 1rem;
                }
            }
        }
    }
}

// -------> Discuss Section

.discuss {
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 7vw;
    background-color: $specialBlue;
    & > h2 {
        color: white;
        font-family: $superSpecialFont;
        flex-basis: 25%;
    }
    & div {
        flex-basis: 75%;
        display: flex;
        justify-content: flex-end;
        & > button {
            font-family: $superSpecialFont;
            font-weight: 700;
            background-color: white;
            appearance: none;
            border: none;
            outline: none;
            color: $specialBlue;
            padding: 1.1rem;
        }
    }
}

.dropDesktop {
    display: none;
}


// -------> Media Queries Section [mobile first]


@media only screen and (min-width: 28.125em) {      // 450 PX and up

    main {
        height: 63rem;
    }

    header .titleBlock {
        padding-top: 2rem;
    }

    header nav {
        padding-top: 2rem;
    }

    header .titleBlock > h2 {
        font-size: calc(2rem + 0.75vw);
    }

    .sectionOne {
        padding: 7% 12%;
    }

    .sectionTwo {
        filter: hue-rotate(179deg);
        background-position: top;
    }

    aside ul li:nth-child(4) {
        display: initial;
    }

    section .subSectionOne {
        padding: 6% 11% 7% 11%;
        & > h3 {
            font-size: 2.4rem;
        }
        & > p {
            font-size: calc(0.85rem + 1.4vw);
        }
        & > ul {
            font-size: 1.75rem;
        }
    }

    section {
        height: 59rem;
    }

    main {
        & .sectionOne {
            padding: 7% 11%;
            & > h2 {
                font-size: calc(1.65rem + 1.5vw);
            }
        }
    }

    .discuss {
        padding: 0rem 10.5vw;
    }

    .project {
        height: 57rem;
        & .textSide {
            flex: 0.35 0 auto;
        }
    }

    .testimonials .textSide blockquote {
        max-width: 350px;
        padding: 5% 4%;
    }

    footer .topFooter .contactSide {
        font-size: calc(1rem + 1.4vw);
    }

    footer .topFooter .companySide div > p {
        font-size: calc(1rem + 1.2vw);
    }
}

@media only screen and (min-width: 37.5em) {    // 600 PX and up

    header {
        height: 5rem;
        & nav {
            padding-top: 0;
            padding-right: 7.5%;
            & > .burgerIcon {
                padding-top: 0.75rem;
            }
        }
        & .titleBlock {
            padding-top: 0;
            padding-left: 7.5%;
            & > h2 {
                padding-top: 0.75rem;
            }
        }
    }

    .burgerIcon {
        z-index: 5;
    }

    p {
        font-size: calc(0.8rem + 1vw);
    }

    .dropDesktop {
        display: initial;
    }

    main {
        height: 47rem;
        position: relative;
        flex-direction: row;
        & .sectionOne {
            width: 51%;
            height: 100%;
            padding: 7% 3% 7% 8%;
            & > button {
                display: flex;
                align-self: flex-start;
            }
            & > h2 {
                text-align: left;
                font-size: calc(1.65rem + 1.5vw);
                line-height: 1.2;
            }
            & > p {
                line-height: 1.1;
                padding-right: 4rem;
                text-align: left;
                font-size: calc(0.8rem + 1vw);
            }
        }
        & .sectionTwo {
            position: absolute;
            top: -50px;
            right: 0;
            width: 50%;
            height: 110.65%;
        }
    }

    aside ul {
        gap: 1.5em;
    }

    section {
        display: flex;
        flex-direction: row-reverse;
        height: 57rem;
        & .subSectionOne {
            width: 50%;
            height: 100%;
            padding: 7% 7% 7% 7%;
            & > p {
                line-height: 1.1;
                font-size: calc(0.8rem + 1vw);
            }
            & > h3 {
                font-size: 2.4rem;
                line-height: 1.1;
            }
            & ul {
                text-align: left;
                & .desc {
                    display: initial;
                    line-height: 1.2;
                    & > p {
                        margin-bottom: 1.5rem;
                    }
                }
                & > li:not(.desc) {
                    font-weight: bold;
                    font-size: calc(0.799rem + 1.1vw);
                }
            }
        }
        & .subSectionTwo {
            width: 50%;
            height: 100%;
        }
    }

    article {
        height: 17rem;
        & .pSide {
            display: flex;
            flex: 1 0 50%;
            align-items: center;
            font-family: 'Arial';
            padding: 0rem 7%;
        }
        & .h3Side {
            flex: 1 0 50%;
            padding-left: 7%;
            justify-content: flex-start;
            & > h3 {
                font-weight: bold;
                font-size: 2.4rem;
            }
        }
    }

    .project {
        height: 31rem;
        margin-bottom: 3rem;
        &.one > .photoSide {
            background-position: right;
        }
        &.two {
            flex-direction: row-reverse;
            padding-right: 5%;
            & .textSide {
                padding: 0% 5%;
                align-items: flex-end;
            }
        }
        &:not(.two) {
            flex-direction: row;
            padding-left: 5%;
            & .textSide {
                align-items: flex-start;
                padding: 0% 6% 0% 4%;
                & > p {
                    text-align: left;
                }
            }
        }
        &.three {
            margin-bottom: 3rem;
        }
        & .photoSide {
            flex: 1 0 60%;
        }
        & .textSide {
            flex: 1 0 40%;
            & > p {
                margin-top: 0.3rem;
                text-align: right;
            }
        }
    }

    .testimonials {
        height: 26rem;
        flex-direction: row;
        & .buttonSide {
            padding: 7%;
            & > h2 {
                font-size: 2.4rem;
            }
        }
        & .textSide {
            padding: 0% 7% 0% 0%;
        }
    }

    .discuss {
        padding: 0% 7%;
        flex-direction: row;
        & > div {
            justify-content: flex-end;
        }
    }

    footer {
        height: 28rem;
        & .topFooter {
            flex-direction: row;
            padding: 0 7%;
            background: white;
            & .contactSide {
                font-size: 1.5rem;
                gap: 1.4rem;
                justify-content: flex-end;
            }
            & .companySide {
                display: flex;
                align-items: center;
                padding: 0;
                & div {
                    text-align: left;
                    & > p {
                        padding-right: 20%;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        & .bottomFooter > p {
            font-size: 1.4rem;
        }
    }

}  

@media only screen and (min-width: 56.25em) {   // 900 px and up



}



