
header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & > * {
        flex-basis: 50%;
        height: 100%;
    }
    & nav {
        background: transparent;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 7%;
        z-index: 6;
        padding-top: 1rem;
        & .desktopNav {
            display: none;
            padding-top: 2rem;
                & > li {
                    margin-left: 3rem;
                    @include bringCenter();
                    &:nth-child(4) {
                        padding: 1rem 1.3rem;
                        color: white;
                        background-color: $specialBlue;
                    }
                    &:nth-child(1) {
                        font-weight: bold;
                        margin-left: 0rem;
                    }
                }
        }
    }
    & .titleBlock {
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $specialBlue;
        padding-left: 7%;
        padding-top: 1rem;
        & > h2 {
            font-family: $superSpecialFont;
        }
        & > h2 span {
            display: inline-block;
            font-size: 25px;
            transform: rotateY(0deg);
            animation: spinR 1.5s linear;
            animation-fill-mode: forwards;
            transform-style: preserve-3d;
        }
    }
}

.burgerIcon {       // ----> Mobile Menu
    height: 25px;
    width: 25px;
    @include bringCenter();
    cursor: pointer;
    flex-direction: column;
    z-index: 9;
    transition: transform 0.5s ease-in-out;
    & > div:nth-child(1) {
        height: 3px;
        width: 100%;
        margin-bottom: 0.2em;
        border-radius: 1rem;
        background-color: black;
        top: 0.5rem;
        transition: transform 0.5s ease-in-out;
    }
    & > div:nth-child(2) {
        height: 3px;
        width: 100%;
        margin-bottom: 0.2em;
        border-radius: 1rem;
        background-color: black;
        transition: opacity 0.7s ease-out;
    }
    & > div:nth-child(3) {
        transition: transform 0.5s ease-in-out;
        height: 3px;
        width: 100%;
        border-radius: 1rem;
        background-color: black;
    }
    // burger animation on click
    &.clicked {
        transform: rotate(180deg);
        & > div:nth-child(1) {
            transform: rotate(-48deg) translate(-5px, 3px);
            background-color: $specialBlue;
        }
        & > div:nth-child(2) {
            display: none;
            opacity: 0;
        }
        & > div:nth-child(3) {
            transform: rotate(49deg) translate(-2px, 1px);
            background-color: $specialBlue;
        }
    }
}

.mobileMenu {
    z-index: 5;
    position: absolute;
    padding-top: 11rem;
    text-align: right;
    background-color: white;
    right: 0;
    top: 0;
    width: 0rem;
    height: 46rem;
    will-change: contents;
    transition: width 0.35s ease-in;
    &.showMenu {
        width: 22rem;
        & li {
            transition: opacity 0.85s ease-in, color 0.35s ease;
            opacity: 1;
        }
    }
    & li {
        padding-right: 4rem;
        cursor: pointer;
        margin-bottom: 2rem;
        font-size: 2.4rem;
        font-family: $superSpecialFont;
        display: none;
        opacity: 0;
        &:nth-child(1) {
            font-weight: bold;
        }
        &:not(:nth-child(1)):hover {
            color: $specialBlue;
        }
    }
}

@keyframes spinR {
    100% {
        transform: rotateY(180deg);
    }
}
