
// Blue Button

.blueButton {
    appearance: none;
    outline: none;
    border: none;
    padding: 0.8rem 1rem;
    background: $specialBlue;
    color: white;
    font-family: $superSpecialFont;
}






// White Button