
// Blue Button

.blueButton {
    appearance: none;
    outline: none;
    border: none;
    padding: 0.8rem 1rem;
    background: $specialBlue;
    color: white;
    font-family: $superSpecialFont;
    transition: box-shadow 0.25s ease-in-out;
    &:hover {
        box-shadow: 3px 3px 0px black;
    }
}


button {
    cursor: pointer;
}

.controls button {
    &:hover {
        box-shadow: none;
    }
}