
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding: 1.5rem 0rem;
    font-size: 16px;
    background-color: $bodyColor;
}

.siteWrapper {
    width: 90%;
    margin: 0 auto;
    background-color: yellow;
}

ul li {
    list-style-type: none;
}