
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    padding: 2.5rem 0rem;
    font-size: 1.6rem;
    background-color: $bodyColor;
}

.siteWrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

ul li {
    list-style-type: none;
}